<!-- Display Doctor information and who has which patient -->
<a href="/">Return to Main Page</a>
<h1>Current Doctor List</h1>

<!-- iterates through everything in @doctors -->
<div class="container" id="doctor-list">
  <% @doctors.each do |doctor| %>
    <p><a href="/output/<%= doctor.id %>" class="link"><%= doctor.name %></a> </p>
  <% end %>
</div
