<a href="/">Return to Main Page</a>
<h1>New Doctor Form</h1>

<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <form action="/doctors" method="post">
          <label for="name">Enter Name</label>
          <input class="form-control" for="name" type="text">
          <label for="specialty">Enter Specialty</label>
          <input class="form-control" for="specialty" type="text">
          <br>
          <button type="submit" class="btn btn-info" name="button">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
