<!-- Main welcome page -->
<h2>Welcome to Health n' Face Clinic</h2>
<p>Our goal is to provide the best care</p>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Current</h4>
      <form action="/doctors" method="get">
        <button type="submit" class="btn btn-info" name="button">Current Doctors</button>
      </form>
      <br>
      <form action="/patients" method="get">
        <button type="submit" class="btn btn-primary" name="button">Current Patients</button>
      </form>
    </div>

    <div class="col-md-6">
      <h4>Create New</h4>
      <form action="/patients-new" method="get">
        <button type="submit" class="btn btn-info">Create New PATIENT file</button>
      </form>
      <br>
      <form action="/doctors-new" method="get">
        <button type="submit" class="btn btn-primary">Create New DOCTOR file</button>
      </form>
    </div>
  </div>
</div>
