<a href="/">Return to Main Page</a>
<h1>New Patient Form</h1>

<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <form class="" action="/patients" method="post">
          <label for="name">Enter Name</label>
          <input class="form-control" id="name" type="text">
          <label for="dob">Enter Date of Birth(YYYY-MM-DD 00:00:00)</label>
          <input class="form-control" id="dob">
          <button type="submit" name="button" class="btn btn-info">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
